/** HEADER **/
#header-nav {
  background-color: #C9C9C9;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 10px;
  margin-bottom: 10px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #111111;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar{
border: none;
background-color: pink;
color: #61122F;
}

#nav-list {
  margin-top: 15px;
  background-color: white;
  font-weight: bold;
  font-size: 1.6em;
  width: 100%;
  overflow: hidden;
  border:2px solid black;
}
.border-separate{
	border-bottom: 2px solid black;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}

#main-content p {
	font-size: 1.9em;
	font-weight: bold;
}

#main-content .container{
	width: 90%;
	margin:auto;
	margin-bottom: 15px;
}

h3 {
	font-size: 1.6em;
	text-align: center;
	font-weight: bold;
	padding-top: 5px;
}

#chicken{
	background-color: #FFFF99;
	height: 1000px;
}

#beef{
	background-color: #FFCCCC;
}

#sushi{
	background-color: #AAAAFF;
}



